@import '../../style/default.less';
.container{
  height: calc(100vh);
  overflow: auto;
  padding-top: 20px;
  .imgContainer{
    position: relative;
    width: 102px;
    height: 102px;
    flex-shrink: 0;
    margin-right: 12px;
    .img{
      width: 100%;
      height: 100%;
    }
    .delete{
      position: absolute;
      top: -8px;
      right: -8px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: black;
      color: #FFFFFF;
      font-size: 10px;
    }
  }
  .uploadNone{
    display: none;
  }
}
